In [ ]:
from google.colab import drive
import numpy as np
import pandas as pd

drive.mount('/content/drive', force_remount=True)

%cd /content/drive/MyDrive

Mounted at /content/drive
/content/drive/MyDrive

In [ ]:
d = pd.read_csv("train.csv")

In [ ]:
test = pd.read_csv("test.csv")
test = test.dropna(how='all', axis='columns')
#test.describe()

In [ ]:
d1 = d.dropna(how='all', axis='columns')
d1.describe()

                 x            y
count  1000.000000  1000.000000
mean     50.276000    50.299641
std      28.798562    29.081539
min       0.000000    -3.839981
25%      25.000000    25.227574
50%      50.000000    49.904331
75%      74.250000    74.463198
max     100.000000   108.871618

In [ ]:
import matplotlib as mtp

In [ ]:
d1.shape[0]

1000

In [ ]:
d1.iat[1, 0]

50

In [ ]:
d1.plot(style='o')

In [ ]:
meanX = d1['x'].mean()
meanY = d1['y'].mean()

xSum = d1['x'].sum()
ySum = d1['y'].sum()
n =  d1.shape[0]
YiXi = 0
for i in range( 0, n):
  YiXi = YiXi + ( d1.iat[i, 0] * d1.iat[i, 1])


ssxy = YiXi - (n * (meanY * meanX))

Xi2 = 0
for i in range( 0, n):
  Xi2 = Xi2 + ( d1.iat[i, 0] * d1.iat[i, 0])

ssxx = Xi2 - (n * (meanX)**2)


B1 = ssxy / ssxx

B0 = meanY - (B1 * meanX)

NameError: ignored

In [ ]:

def regression(X):
  return ((B1 * X) + B0)


err = [0]* test.shape[0]
for i in range(0, test.shape[0]):
  err[i] = float((regression(test.at[i, 'x']) - test.at[i, 'y']))
  #print(err[i])
  #test.at[i, 'y'] = regression(test.at[i, 'x'])

In [ ]:
B1, B0

(1.0048368491845858, -0.21953654997124517)

In [ ]:
test.plot(style='o')

In [ ]:
err

In [ ]:
ERRi2 = float(0)

for i in err:
  #print(i)
  ERRi2 = ERRi2 + i**2


MSE = (1 / (2 * test.shape[0])) * ERRi2

MSE

4.647846749996982